.logo {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 48px;
letter-spacing: -0.02em;
color: rgb(8, 8, 59);
margin-top: 37px;
margin-left: 80px;

}

.logo-dot {
    color: #33A2E0 ;
}

section {
    display: inline-block;
}

.main-title {
max-width: 495px;
width: 100%;
margin-top: 203px;
margin-left: 200px;
font-family:Ramajara;
font-style:normal;
font-weight:normal;
font-size: 72px;
line-height: 76px;
letter-spacing: 0.02em;
color: #16063d;

}
.main-info {
    max-width: 503px;
    width: 100%;
    margin-top: 100px;
    margin-left: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;

}

.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #33A2E0;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    border:none 



}